
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container">

  <div class="row">
    {% if categories %}
      <h2>Found <a href="{% url 'gallery' %}">{{ category }}</a></h2><br>

    {% for photo in categories %}
    <div class="col-md-6 col-lg-3 col-12 col-sm-12">
        <div class="row m-1 mb-3">
            <div class="card  ">
                <img  class="image-thumbnail img-fluid mt-3" src="{{photo.img.url}}" alt="Card image cap">
                <h5 class="centered">{{photo.category}}</h5>
                <div class="card-body">
                    <p class="card-text"> {{photo.description}}</p>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>

  </div>

 


<style>
  body{
    background-image:url('{% static "images/pet4.jpg" %} ');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h2{
    font-style: italic;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: rgb(204, 204, 209);
  }
  .btn{
    background-color: rgb(16, 16, 71);
    color: aliceblue;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    width: 6rem;


  }
  .btn:hover{
    color: rgb(18, 104, 104);
    
  }
</style>
{% endblock %}